@model SignUpViewModel

@section Body{

    <form method="post">
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control" asp-for="signUpModel.Name" />
                        <span asp-validation-for="signUpModel.Name"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="text" class="form-control" asp-for="signUpModel.Email" />
                        <span asp-validation-for="signUpModel.Email"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input type="password" class="form-control" asp-for="signUpModel.Password" />
                        <span asp-validation-for="signUpModel.Password"></span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label">Confrim Password</label>
                        <input type="password" class="form-control" asp-for="signUpModel.ConfirmPassword" />
                        <span asp-validation-for="signUpModel.ConfirmPassword"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label">Role</label>
                       <select class="form-control" asp-items='new SelectList(Model.liRoles,"Id","Name")' asp-for="signUpModel.RoleId"></select>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">

                        <input type="submit" value="Create Account" class="btn btn-primary" asp-action="CreateAccount" />
                    </div>
                </div>
            </div>

        </div>
    </form>

    }
